@mixin box-shadow ($x-size: 5px, $y-size: 5px, $blur: 22px, $color: $color-black, $spread:0) {
  box-shadow			: $x-size $y-size $blur $spread $color;
  -moz-box-shadow		: $x-size $y-size $blur $spread $color;
  -webkit-box-shadow	: $x-size $y-size $blur $spread $color;
}

@mixin general-shadow(){
  @include box-shadow(5px ,5px ,22px ,rgba(0,0,0,0.3) , 0);
}

@mixin border-radius-all ($topleft: 5px, $topright: 5px, $bottomright: 5px, $bottomleft: 5px) {
  border-radius			: $topleft $topright $bottomright $bottomleft;
  -moz-border-radius		: $topleft $topright $bottomright $bottomleft;
  -ms-border-radius		: $topleft $topright $bottomright $bottomleft;
  -o-border-radius		: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius	: $topleft $topright $bottomright $bottomleft;
}

@mixin general-border-radius(){
  @include border-radius-all(5px, 5px, 5px, 5px);
}
