@import "~sass-rem/rem";

/* Colors */
$color-white: #FFF;
$color-black: #000;
$color-grey-light: #CCC;
$color-grey: #707070;
$color-grey-semidark: #707070;
$color-grey-dark: #9D9D9D;
$color-green: #18BB80;

$font-weight-bold: 600;



